/*RESET*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
img{max-width:100%;}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/OpenSans-Light.woff") format("woff");
}
body, textarea{
	font: 1em "Open Sans",Helvetica,Arial,sans-serif;
}
h1.title{
  color: #4C180D;
  cursor: pointer;
  font-size: 3em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
html, body, .wrapper, .wrapper .left, .wrapper .right{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.wrapper {
    background-image: url("img/background.jpg");
    background-position: center top;
    background-size: cover;
    z-index: 1;
}
.wrapper .left, .wrapper .right{
  position: absolute;
  width: 50%;
  transition: all .6s ease-in-out 0s;
  z-index: 3;
}
.wrapper .left{
  background: #fff;
  box-shadow: 2px 0 4px 0 #4C180D;
  left: 0;
  opacity: .8;
}
.wrapper .right{
  background: rgba(66,19,9, .5);
  overflow-y: scroll;
  right: 0;
}
.wrapper.open-sesame .left{
  left: -300px;
}
.wrapper.open-sesame .right{
  right: -300px;
}
.selfie{
  float: right;
  height: 260px;
  margin: 5px;
  position: relative;
  width: 200px;
}
.selfie .back, .selfie .front {
  border: 1px solid #999;
  height: 100%;
  left:0;
  position:absolute; 
  top:0; 
  width:100%; 
  -webkit-transition: .7s ease-in-out;
     -moz-transition: .7s ease-in-out;
      -ms-transition: .7s ease-in-out;
       -o-transition: .7s ease-in-out;
          transition: .7s ease-in-out;
}
.selfie .back {
  padding: 0 10px;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
    -moz-transform: perspective(800px) rotateY(180deg);
         transform: perspective(800px) rotateY(180deg);
}
.selfie .front {
  text-align: center;
  -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transform: perspective(800px) rotateY(0deg);
     -moz-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}
.selfie .front img {
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  width: 175px;
}
.selfie h2{
  background: #fff;
  font-size: 1.2em;
  height: 47px;
  overflow: hidden;
  padding: 10px 5px;
  text-align:center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selfie .handle{
  cursor: pointer;
}
.selfie .back .handle{
  opacity: 0;
}
.selfie.flipped .back {
  background: rgba(255,255,255,.6);
  -webkit-transform: perspective(800px) rotateY(0);
     -moz-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}
.selfie.flipped .front {
  opacity: 0.15;
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
     -moz-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}



.open-sesame section.add{
  visibility: visible;
}
section.add{
  visibility: hidden;
  z-index: 2;
}
section.add .step1, section.add .step2{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
}
.open-sesame section.add .step1.active, .open-sesame section.add .step2.active{
  visibility: visible;
}
section.add video{
  height: 773px;
  width: 580px;
}
section.add canvas{
  height: 773px;
  width: 580px;
}
section.add img{
  height: 773px;
  width: 580px;
}
section.add .group{
  padding: 10px 0;
}
section.add .group:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
section.add .container{
  margin: 0 auto;
  width: 580px;
}
section.add label{
  color: #fff;
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  width: 150px;
}
section.add .input{
  font-size: 1.2em;
  padding: 5px 10px;
  width: 405px;
}
section.add textarea.input{
  height: 175px;
  resize: vertical;
}
section.add .group.buttons{
  padding: 10px 20px;
  text-align: right;
}
section.add .group.buttons .submit{
  background: transparent;
  border: 1px solid #4c180d;
  border-radius: 4px;
  color: #4c180d;
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px 10px;
  transition: all .3s ease-in-out 0s;
}
section.add .group.buttons .submit:hover{
  border-color: #0B4407;
  color: #0B4407;
}
section.add .group.buttons .cancel{
  color: #4c180d;
  font-size: 1.2em;
  text-decoration: none;
  transition: all .3s ease-in-out 0s;
}

section.add .group.buttons .cancel:hover{
  color: #6B0705;
}

.hidden {
  display: none;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}


.center{
	text-align: center;
}