/*RESET*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
img{max-width:100%;}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/OpenSans-Light.woff") format("woff");
}
body{
	font: 1em "Open Sans",Helvetica,Arial,sans-serif;
}

.selfie{
  float: left;
  height: 260px;
  margin: 5px;
  position: relative;
  width: 200px;
}
.selfie .back, .selfie .front {
  border: 1px solid #999;
  height: 100%;
  left:0;
  padding: 0 10px;
  position:absolute; 
  top:0; 
  width:100%; 
  -webkit-transition: .7s ease-in-out;
     -moz-transition: .7s ease-in-out;
      -ms-transition: .7s ease-in-out;
       -o-transition: .7s ease-in-out;
          transition: .7s ease-in-out;
}
.selfie .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
    -moz-transform: perspective(800px) rotateY(180deg);
         transform: perspective(800px) rotateY(180deg);
}
.selfie .front {
  -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transform: perspective(800px) rotateY(0deg);
     -moz-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}
.selfie .front img {
  border:1px solid #fff;
}
.selfie h2{
  background: #fff;
  font-size: 1.2em;
  height: 47px;
  overflow: hidden;
  padding: 10px 5px;
  text-align:center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selfie .handle{
  cursor: pointer;
}
.selfie .back .handle{
  opacity: 0;
}
.selfie.flipped .back {
  -webkit-transform: perspective(800px) rotateY(0);
     -moz-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}
.selfie.flipped .front {
  opacity: 0.15;
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
     -moz-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


.center{
	text-align: center;
}