/*RESET*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
img{max-width:100%;}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/OpenSans-Light.woff") format("woff");
}
body, textarea, select{
  color: #333;
	font: 1em "Open Sans",Helvetica,Arial,sans-serif;
}
.left-panel{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.left-panel .title{
  color: #4C180D;
  font-size: 3em;
  margin-bottom: 20px;
}
html, body, .wrapper, .wrapper .left, .wrapper .right{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.wrapper {
    background-image: url("img/background.jpg");
    background-position: center top;
    background-size: cover;
    z-index: 1;
}
.wrapper .left, .wrapper .right{
  position: absolute;
  width: 50%;
  transition: all .6s ease-in-out 0s;
  z-index: 3;
}
.wrapper .left{
  background: #fff;
  box-shadow: 2px 0 4px 0 #4C180D;
  left: 0;
  opacity: .8;
}
.wrapper .right{
  background: rgba(66,19,9, .5);
  overflow-y: scroll;
  padding-top: 15px;
  right: 0;
  text-align: center;
}
.wrapper.open-sesame .left{
  left: -300px;
}
.wrapper.open-sesame .right{
  right: -300px;
}
.selfie{
  display: inline-block;
  height: 260px;
  margin: 5px;
  position: relative;
  text-align: left;
  width: 200px;
          transition: transform 0.3s ease 0s;
     -moz-transition: -moz-transform 0.3s ease 0s;
      -ms-transition: -ms-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none; 
}
.selfie.active{
  z-index: 100;
  -webkit-transform: scale(1.2,1.2);
     -moz-transform: scale(1.2,1.2);
      -ms-transform: scale(1.2,1.2);
          transform: scale(1.2,1.2);
}
.selfie .back, .selfie .front {
  border: 1px solid #999;
  height: 100%;
  left:0;
  position:absolute; 
  top:0; 
  width:100%; 
  -webkit-transition: .7s ease-in-out;
     -moz-transition: .7s ease-in-out;
      -ms-transition: .7s ease-in-out;
       -o-transition: .7s ease-in-out;
          transition: .7s ease-in-out;
}
.selfie .back {
  z-index: 20;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
    -moz-transform: perspective(800px) rotateY(180deg);
         transform: perspective(800px) rotateY(180deg);
}
.selfie .front {
  text-align: center;
  z-index: 10;
  -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transform: perspective(800px) rotateY(0deg);
     -moz-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}
.selfie.active .front{
  background-color: rgba(255, 255, 255, 0.6)
}
.selfie h2{
  background: #fff;
  font-size: 1.2em;
  height: 47px;
  overflow: hidden;
  padding: 10px 5px;
  text-align:center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selfie .front img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  width: 150px;
}
.selfie .bottom{
  height: 35px;
  margin: 3px 5px;
  opacity: .4;
  text-align: right;
}
.selfie .front .bottom{
  opacity: 0;
  transition: opacity .15s ease-in-out 0s;
}
.selfie .front:hover .bottom{
  opacity: .6;
}
.selfie.active .bottom .rotate{
  background: transparent url(img/rotate.png) no-repeat center center;
  background-size: 11px;
  border: 2px solid #222222;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.selfie .back .handle{
  opacity: 0;
  padding: 0 10px;
}
.selfie .back .about{
  height: 176px;
  padding: 0 10px;
}
.selfie.flipped .back {
  background: rgba(255,255,255,.6);
  -webkit-transform: perspective(800px) rotateY(0);
     -moz-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}
.selfie.flipped .front {
  opacity: 0.15;
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
     -moz-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}

.error {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e01a1a;
    color: #e01a1a;
    font-weight: bold;
    left: 50%;
    max-width: 580px;
    padding: 15px 25px;
    position: fixed;
    top: 15px;
    transform: translateX(-50%);
    transition: all 0.3s ease 0s;
}

.open-sesame section.add{
  visibility: visible;
}
section.add{
  visibility: hidden;
  z-index: 2;
}
section.add .step1, section.add .step2{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.open-sesame section.add .step1.active, .open-sesame section.add .step2.active{
  visibility: visible;
}
section.add video{
  width: 580px;
}
section.add .group{
  padding: 10px 0;
}
section.add .group:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
section.add .container{
  margin: 0 auto;
  width: 580px;
}
section.add label{
  color: #fff;
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  width: 150px;
}
section.add .input{
  font-size: 1.2em;
  padding: 5px 10px;
  width: 405px;
}
section.add textarea.input{
  height: 175px;
  resize: vertical;
}
section.add .group.buttons{
  padding: 10px 20px;
  text-align: right;
}
.button{
  background: transparent;
  border: 1px solid #4c180d;
  border-radius: 4px;
  color: #4c180d;
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px 10px;
  text-decoration: none;
  transition: all .3s ease-in-out 0s;
}
.button:hover{
  border-color: #0B4407;
  color: #0B4407;
}
.button.large{
  font-size: 2em;
}
.button.small{
  font-size: .8em;
}
.cancel{
  color: #4c180d;
  font-size: 1.2em;
  text-decoration: none;
  transition: all .3s ease-in-out 0s;
}
.cancel:hover{
  color: #6B0705;
}
.modal-overlay{
  background: none repeat scroll 0 0 rgba(224, 224, 224, 0.8);
  cursor: progress;
  visibility: hidden;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
          transition: opacity 0.5s;
}
.modal-overlay.show{
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.hidden {
  display: none;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.center{
	text-align: center;
}
.fl{
  float: left;
}